{% extends 'base.html' %}
{% load cart %}
{% block title %}order{% endblock title %}
{% block content %}
<h1>Order Details</h1>
<div class ="container">
    <table class="table">
        <thead>

        <tr>
            
            <th scope="col">S No.</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">Date Of Purchase</th>
            
            </tr>
        </thead>
        <tbody>
            {% for items in order_dtls  %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src ="{{items.product.image.url}}" alt="" width="100" 
                    height="100"></td>
                    <td>{{items.product}}</td>
                    <td>{{items.quality}}</td>
                    <td>{{items.price}}</td>
                    <td>{{items.price|multiplyprice:items.quality}}</td>
                    <td>{{items.date}}</td>
                    {%if items.status %}
                    <td><span class ="badge bg-success">order placed</span></td>
                    {% else %}
                    <td><span class="badge bg-warning">pending</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr align ="center">
                    <th colspan =5>Total Pay</th>
                    
                    <th>{{tp}}</th>


                </tr>
            </tfoot>
        </table>
    </div>
    {% endblock content %}